<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<!--bootstrap-->
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />

		<!-- 第三方 -->
		<link rel="stylesheet" href="../css/clock/clock.css" />
		<link rel="stylesheet" href="../css/popup/popup.css" />

		<!--自定义-->
		<link rel="stylesheet" href="../css/blog/style1.css" />
		<link rel="stylesheet" href="../css/blog/main1.css" />
	</head>

	<body>
		<div class="container">
			<div class="header">
				<div class="blogTitle">
					<h1>
						<a id="headTitle" href=""></a>
					</h1>
				</div>
				<div class="navigation">
					<ul id="navList">
						<li>
							<a id="mainhome" href="javascript:void(0)">林区</a>
						</li>
						<li>
							<a id="myhome" href="javascript:void(0)">首页</a>
						</li>
						<li>
							<a id="newartical" href="javascript:void(0)">新博客</a>
						</li>
						<li>
							<a id="contact" href="javascript:void(0)">联系</a>
						</li>
						<li>
							<a id="manage" href="javascript:void(0)">管理</a>
						</li>
						<li>
							<a id="draft" href="javascript:void(0)">草稿箱</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="main">
				<div class="content">
					<!-- 分类 -->
					<div class="category">
						档案：全部
					</div>
					<!-- 文章列表 -->
					<div class="articalList">
						<!-- <div class="oneArtical">
							<div class="first">
								<a href="javascript:void(0);">文章一</a>
							</div>
							<div class="second">
								摘要：阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅
								<a href="javascript:void(0);">阅读全文</a>
							</div>
							<div class="third">
								posted @ 2017-12-03 14:16 叶灬黎 阅读(29) 评论(0)
								<a href="javascript:void(0);">编辑</a>
							</div>
						</div>
						<div class="oneArtical">
							<div class="first">
								<a>文章一</a>
							</div>
							<div class="second">
								摘要：阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅
							</div>
							<div class="third">
								posted @ 2017-12-03 14:16 叶灬黎 阅读(29) 评论(0)
							</div>
						</div>
						<div class="oneArtical">
							<div class="first">
								<a>文章一</a>
							</div>
							<div class="second">
								摘要：阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅
							</div>
							<div class="third">
								posted @ 2017-12-03 14:16 叶灬黎 阅读(29) 评论(0)
							</div>
						</div>
						<div class="oneArtical">
							<div class="first">
								<a>文章一</a>
							</div>
							<div class="second">
								摘要：阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅 阿里看法哈市妇联疯狂哈喽还是发生纠纷撒啊随机附件撒胡椒as放假啊师傅
							</div>
							<div class="third">
								posted @ 2017-12-03 14:16 叶灬黎 阅读(29) 评论(0)
							</div>
						</div> -->
					</div>
					<!--分页-->
					<div id="pager_bottom">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li id="firstli">
									<a href="javascript:void(0);">&laquo;</a>
								</li>
								<li id="lastli">
									<a href="javascript:void(0);">&raquo;</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="side">
					<div class="userItem">
						<h3 class="itemTitle">博主信息</h3>
						<div id="userItemInfo">
							昵称：
							<a id="nick" href="javascript:void(0)"></a><br> 博龄：
							<a id="garAge" href="javascript:void(0)" title=""></a><br> 粉丝：
							<a id="fan" href="javascript:void(0)"></a><br> 关注：
							<a id="follow" href="javascript:void(0)"></a><br>
							<a id="addFollow" href="javascript:void(0)">+加关注</a>
						</div>
					</div>
					<div class="calendar">
						<h3 class="itemTitle">时间</h3>
						<div id="hoverclock"></div>
					</div>
					<!-- <div class="articalFile">
						<h3 class="itemTitle">文章档案</h3>
						<div id="articalFileNav">
							<ul>
								<li>
									<a href="javascript:void(0)">2017年7月 (1)</a>
								</li>
							</ul>
						</div>
					</div> -->
				</div>
			</div>

			<div class="footer">©2017 小叶子</div>
		</div>

		<!-- bootstrap、juqery -->
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.js"></script>

		<!-- 第三方 -->
		<script type="text/javascript" src="../js/clock/clock.js"></script>
		<script type="text/javascript" src="../js/popup/popup.js"></script>

		<!-- 自定义 -->
		<script type="text/javascript" src="../js/pages.js"></script>
		<script type="text/javascript" src="../js/blog/blogportal.js"></script>
		
		<script type="text/x-jquery-tmpl" id="t1">
						<div class="oneArtical">
							<div class="first">
								<a href="javascript:void(0);" onclick="$goRead(${id})">${title}</a>
							</div>
							<div class="second">
								摘要：${content}
								<a href="javascript:void(0);" onclick="$goRead(${id})">阅读全文</a>
							</div>
							<div class="third">
								posted @ ${dateFormat(leaveTime)} ${user.nickname} 阅读(${viewNum}) 评论(${commentNum})
								<a href="javascript:void(0);" onclick="$goEdit(${id})">编辑</a>
							</div>
						</div>
		</script>
		
		<script type="text/javascript">
			/*自定义分页的必备参数*/
			var currentPage = 1;
			var totalPage = 30;
			
			/*准备工作*/
			//时钟
			$("#hoverclock").hoverclock({
				"h_width": 200,
				"h_height": 200,
				//"h_hourNumSize": "80",
				// "h_hourNumRadii": "200",
				// "h_hourNumShow": false,
				// "h_minuteNumShow":false,
				"h_hourNumColor": "deeppink",
				"h_backColor": "white",
				//"h_borderColor": "gold",
				//"h_frontColor":"red",
				"h_linkText": dateFormatClock()
			});
			
			
			function dateFormatClock() {
				var date = new Date();

				var str = "";
				str += date.getFullYear() + "-";
				if(date.getMonth() + 1 < 10) {
					str += "0" + (date.getMonth() + 1) + "-";
				} else {
					str += (date.getMonth() + 1) + "-";
				}
				if(date.getDate() < 10) {
					str += "0" + date.getDate();
				} else {
					str += date.getDate();
				}
				return str;
			}

			//转换时间
			function dateFormat(time) {
				var date = new Date(time);

				var str = "";
				str += date.getFullYear() + "-";
				if(date.getMonth() + 1 < 10) {
					str += "0" + (date.getMonth() + 1) + "-";
				} else {
					str += (date.getMonth() + 1) + "-";
				}
				if(date.getDate() < 10) {
					str += "0" + date.getDate();
				} else {
					str += date.getDate();
				}
				return str;
			}
			
			//url取参
			var $getQueryString = function(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
				var r = window.parent.location.search.substr(1).match(reg);
				if(r != null)
					return unescape(r[2]);
				return null;
			}

			/*主体逻辑*/
			//取类型
			$(function(){
				var a  = $getQueryString("uid");
				console.log(a);
			});
			
			var uid;
			/*文章列表逻辑*/
			$(function(){
				uid = $getQueryString("uid");
				if(uid == "" || uid == undefined || uid == null){
					window.parent.location.href = "../error";
				}
				$getPageItems(uid,currentPage);
			});
			
			//获取文章
			var $getPageItems = function(uid,current) {
				$.ajax({
					type : "get",
					url : "../getBlogPortalArticals",
					dataType : "json",
					data : {
						uid : uid,
						current : current
					},
					async : true,
					success : function(data) {
						console.log(data);
						$("#t1").tmpl(data.oList).appendTo(".articalList");
						totalPage = data.totalPages;
						$getPages();
					},
					error : function() {
						alert("数据获取失败");
					}
				});
			}

			/*自定义分页的逻辑*/
			$(function() {

				$(document).on(
						"click",
						".pagination li",
						function() {
							var current = $.trim($(this).text());
							if (current == "«") {
								var temp = $.trim($(".pagination li.active").prev()
										.text());
								if (temp != "«") {
									var $a = $(".pagination li.active");
									$(".pagination li.active")
											.removeClass("active");
									$a.prev().addClass("active");
									currentPage = parseInt($.trim($(
											".pagination li.active").text()));
									$(".page_item").remove();
									//$getPages();
									$(".articalList").empty();
									$getPageItems(uid,currentPage);
								}
							} else if (current == "»") {
								var temp = $.trim($(".pagination li.active").next()
										.text());
								if (temp != "»") {
									var $a = $(".pagination li.active");
									$(".pagination li.active")
											.removeClass("active");
									$a.next().addClass("active");
									currentPage = parseInt($.trim($(
											".pagination li.active").text()));
									$(".page_item").remove();
									//$getPages();
									$(".articalList").empty();
									$getPageItems(uid,currentPage);
								}
							} else if (current == "...") {

							} else {
								$(this).siblings("li").removeClass("active");
								$(this).addClass("active");
								currentPage = parseInt($.trim($(
										".pagination li.active").text()));
								$(".page_item").remove();
								//$getPages();
								$(".articalList").empty();
								$getPageItems(uid,currentPage);
							}
						});

			});

			/*文章列表逻辑*/
			var $goRead = function(id){
				window.parent.location.href = "../blogRead?aid="+id;
			}
			
			
			var $goEdit = function(id){
				$.ajax({
					type : "post",
					url : "../verEditBlog",
					dataType : "json",
					data : {
						uid : uid
					},
					async : true,
					success : function(data) {
						console.log(data);
						if(data == 1){
							alert("请先登录！");
						} else if(data == 2){
							alert("您不是作者，无权编辑！");
						} else if(data == 3){
							window.parent.location.href = "../blogHandle?aid="+id;								
						}
					},
					error : function() {
						alert("数据获取失败");
					}
				});
			}
			
		</script>
	</body>

</html>