<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>洛林博客--找回密码</title>
<script type="text/javascript" src="js/jquery.js"></script>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="css/getback.css" />
<style type="text/css">
table {
	border-collapse: separate;
	border-spacing: 10px;
}
</style>
</head>

<body>
	<div id="container">
		<div id="getback">
			<div id="form">
				<table>
					<tr>
						<td><span id="point">请先核实身份</span></td>
					</tr>
					<!--<tr>
							<td>
								<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号" />
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" />
							</td>
						</tr>-->
					<tr>
						<td><input type="email" class="form-control" id="email"
							name="email" placeholder="请输入邮箱" /></td>
						<td>
							<button class="btn" id="send">发送验证码</button>
						</td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" id="ver"
							name="ver" placeholder="请输入验证码" /></td>
					</tr>
					<tr>
						<td><input type="password" class="form-control" id="password"
							name="password" placeholder="请输入新密码" /></td>
					</tr>
					<tr>
						<td><input type="password" class="form-control" id="verPass"
							name="verPass" placeholder="请再次确认密码" /></td>
					</tr>
					<tr id="warn">
					</tr>
					<tr>
						<td>
							<button id="verDegree" type="button" class="btn btn-primary">核实身份</button>
						</td>
					</tr>
					<tr>
						<td>
							<button id="submit" type="button" class="btn btn-primary">确认修改</button>
						</td>
					</tr>
					<tr>
						<td><a href="loginForm.html">返回登录</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="footer">
			<div id="author">©2017 小叶子</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$("#verDegree")
					.click(
							function() {
								/*var phone = $.trim($("#phone").val());
								var username = $.trim($("#username").val());*/
								var email = $.trim($("#email").val());
								var ver = $.trim($("#ver").val());
								$("#flag").remove();
								/*if(phone == "") {
									var str = '<td id="flag"><span>请输入手机号</span></td>';
									$("#warn").append(str);
								} else if(username == "") {
									var str = '<td id="flag"><span>请输入用户名</span></td>';
									$("#warn").append(str);
								} else if(!phone.match(/^1[3|4|5|7|8][0-9]{9}$/)) {
									var str = '<td id="flag"><span>请输入正确的手机号格式</span></td>';
									$("#warn").append(str);
								} else if(username.length < 6) {
									var str = '<td id="flag"><span>请输入正确的用户名格式</span></td>';
									$("#warn").append(str);
								} */
								if (email == "") {
									var str = '<td id="flag"><span>请输入邮箱</span></td>';
									$("#warn").append(str);
								} else if (ver == "") {
									var str = '<td id="flag"><span>请输入验证码</span></td>';
									$("#warn").append(str);
								} else if (!email
										.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/)) {
									var str = '<td id="flag"><span>请输入正确的邮箱</span></td>';
									$("#warn").append(str);
								} else {
									$veridentity(email, ver);
								}
							});
		});

		var $veridentity = function(email, ver) {
			$.ajax({
				type : "post",
				url : "verBackEmail",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify({
					email : email,
					code : ver
				}),
				async : true,
				success : function(data) {
					if(data.msg == "success"){
						$("#point").text("请设置新密码");
						$("#phone").attr("readonly", "readonly");
						$("#username").attr("readonly", "readonly");
						$("#password").css("display", "block");
						$("#verPass").css("display", "block");
						$("#verDegree").css("display", "none");
						$("#submit").css("display", "block");
					}else{
						var str = '<td id="flag"><span>'+data.msg+'</span></td>';
						$("#warn").append(str);
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}

		$(function() {
			$("#send")
					.click(
							function() {
								var email = $.trim($("#email").val());
								$("#flag").remove();
								if (email
										.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/)) {
									$sendVerCode(email);
								} else {
									var str = '<td id="flag"><span>请输入正确的邮箱</span></td>';
									$("#warn").append(str);
								}
							});
		});


		var $sendVerCode = function(email) {
			$.ajax({
				type : "post",
				url : "sendVerCode",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify({
					email : email,
					module : "getBack"
				}),
				async : true,
				success : function(data) {
					if(data.msg == "success"){
						$("#send").attr("disabled", true);
						var i = 60;

						$("#send").text("等待" + i + "s");
						var a = setInterval(function() {
							i--;
							$("#send").text("等待" + i + "s");
							if (i == -1) {
								clearInterval(a);
								$("#send").attr("disabled", false);
								$("#send").text("发送验证码");
							}
						}, 1000);
					}else{
						var str = '<td id="flag"><span>'+data.msg+'</span></td>';
						$("#warn").append(str);
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}

		$(function() {
			$("#submit").click(function() {
				var password = $.trim($("#password").val());
				var verPass = $.trim($("#verPass").val());
				$("#flag").remove();
				if (password == "" || verPass == "") {
					var str = '<td id="flag"><span>请输入密码</span></td>';
					$("#warn").append(str);
				} else if (password.length < 6) {
					var str = '<td id="flag"><span>密码不得少于6位</span></td>';
					$("#warn").append(str);
				} else if (password != verPass) {
					var str = '<td id="flag"><span>请确认两次密码是否一致</span></td>';
					$("#warn").append(str);
				} else {
					$getback(password);
				}
			});
		});

		var $getback = function(password) {
			var email = $.trim($("#email").val());
			$.ajax({
				type : "post",
				url : "getBackPass",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify({
					email : email,
					password : password
				}),
				async : true,
				success : function(data) {
					if (data.msg == "success") {
						window.location.href = "loginForm";
					} else {
						var str = '<td id="flag"><span>'+data.msg+'</span></td>';
						$("#warn").append(str);
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}
	</script>
</body>

</html>