<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="../../bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
	</head>

	<body>

		<!-- 分页 -->
		<div id="pager_bottom">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li id="firstli">
						<a href="javascript:void(0);" onclick="">&laquo;</a>
					</li>
					<!--<li class="active page_item">
								<a href="javascript:void(0);" onclick="">1</a>
							</li>
							<li class="page_item">
								<a href="javascript:void(0);" onclick="">2</a>
							</li>
							<li class="page_item">
								<a href="javascript:void(0);" onclick="">3</a>
							</li>-->
					<li id="lastli">
						<a href="javascript:void(0);" onclick="">&raquo;</a>
					</li>
				</ul>
			</nav>
		</div>

		<script type="text/javascript">
			
			var totalPage = 30;
			var currentPage = 1;
			
			var $getPages = function() {
				$(".page_item").empty();
				for(var i = totalPage; i > 0; i--) {
					if(i == currentPage) {
						var $a = $("<a>", {
							href: "javascript:void(0);",
							text: i
						});
						var $li = $("<li>", {
							class: "active page_item"
						});
						$li.append($a);
						$("#firstli").after($li);
					} else {
						if((totalPage - currentPage) > 6) {
							if(i == totalPage) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								$("#firstli").after($li1);
								var $a2 = $("<a>", {
									href: "javascript:void(0);",
									text: "..."
								});
								var $li2 = $("<li>", {
									class: "page_item"
								});
								$li2.append($a2);
								$("#firstli").after($li2);
							}
							if(i < (currentPage + 6) && i > currentPage) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								$("#firstli").after($li1);
							}
						}
						if((totalPage - currentPage) <= 6) {
							if(i > currentPage) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								$("#firstli").after($li1);
							}
						}
						if(currentPage > 7) {
							if(i == 1) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								var $a2 = $("<a>", {
									href: "javascript:void(0);",
									text: "..."
								});
								var $li2 = $("<li>", {
									class: "page_item"
								});
								$li2.append($a2);
								$("#firstli").after($li2);
								$("#firstli").after($li1);
							}
							if(i > (currentPage - 6) && i < currentPage) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								$("#firstli").after($li1);
							}
						}
						if(currentPage <= 7) {
							if(i < currentPage) {
								var $a1 = $("<a>", {
									href: "javascript:void(0);",
									text: i
								});
								var $li1 = $("<li>", {
									class: "page_item"
								});
								$li1.append($a1);
								$("#firstli").after($li1);
							}
						}
					}
				}
			}

			$(function() {

				$getPages();
				$(document).on("click", ".pagination li", function() {
					var current = $.trim($(this).text());
					if(current == "«") {
						var temp = $.trim($(".pagination li.active").prev().text());
						if(temp != "«") {
							var $a = $(".pagination li.active");
							$(".pagination li.active").removeClass("active");
							$a.prev().addClass("active");
							currentPage = parseInt($.trim($(".pagination li.active").text()));
							$(".page_item").remove();
							$getPages();
						}
					} else if(current == "»") {
						var temp = $.trim($(".pagination li.active").next().text());
						if(temp != "»") {
							var $a = $(".pagination li.active");
							$(".pagination li.active").removeClass("active");
							$a.next().addClass("active");
							currentPage = parseInt($.trim($(".pagination li.active").text()));
							$(".page_item").remove();
							$getPages();
						}
					} else if(current == "...") {

					} else {
						$(this).siblings("li").removeClass("active");
						$(this).addClass("active");
						currentPage = parseInt($.trim($(".pagination li.active").text()));
						$(".page_item").remove();
						$getPages();
					}
				});

			});
		</script>

	</body>

</html>