<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>主页-洛林博客</title>
<!--bootstrap、jquery-->
<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<!-- 第三方 -->
<script type="text/javascript" src="js/jquery.tmpl.js"></script>
<!--自定义-->
<link href="css/userinfo/userItemPublic.css" type="text/css"
	rel="stylesheet" />
<!--标签页图标-->
<link rel="icon" href="img/luo.ico" mce_href="/favicon.ico"
	type="image/x-icon">
</head>

<body>

	<!--顶部-->
	<div id="top" class="container-fluid">
		<a href="../main/main">首页</a> <a href="../main/looking">找找看</a>
		<div class="underline"></div>
	</div>

	<!--头部-->
	<div id="head" class="container-fluid">
		<div id="logo">
			<a href="../main/main"><img src="img/洛林博客.jpg" /></a>
		</div>
		<div id="head_user">
			<span>欢迎你，</span>
			<div class="underline"></div>
		</div>
	</div>
	<br>

	<!--主体-->
	<div id="body" class="container-fluid">
		<div class="row">
			<div id="body_navi" class="span2  col-xs-12 col-sm-3 col-md-2">
				<ul class="nav nav-pills nav-stacked" style="display: none;">
					<li><a id="userMain" href="javascript:void(0)">个人主页</a></li>
					<li><a id="userArtical" href="javascript:void(0)">我的文章</a></li>
					<li><a id="userFollow" href="javascript:void(0)">关注与粉丝</a></li>
					<li><a id="userComment" href="javascript:void(0)">我的评论</a></li>
					<li><a id="userCollection" href="javascript:void(0)">我的收藏</a>
					</li>
					<li><a id="userMessage" href="javascript:void(0)">我的消息</a></li>
					<li><a id="userChange" href="javascript:void(0)">修改信息</a></li>
				</ul>
			</div>

			<div id="body_item" class="col-xs-12 col-sm-9 col-md-10">
				<iframe scrolling="no" frameborder="0" width="100%"></iframe>
			</div>
		</div>
	</div>

	<!--脚部-->
	<div id="footer" class="container-fluid">
		<span>©2017 小叶子</span>
	</div>

	<script type="text/x-jquery-tmpl" id="t1">
		</script>

	<script type="text/javascript">
		/*准备工作*/
		var $getQueryString = function(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}

		var id = $getQueryString("id");

		$(function() {
			$("iframe").load(function() {
				var mainheight = $(this).contents().find("body").height() + 30;
				$(this).height(mainheight);
			});
		});

		/*头部逻辑*/
		$(document).ready(function() {
			a = setTimeout(function() {
				$("ul").css("display", "block");
			}, 10);
			$getUser(id);
		});

		var $getUser = function(id) {
			$.ajax({
				type : "get",
				url : "getUserHomeInfo",
				dataType : "json",
				contentType : "application/json",
				data : {
					id : id
				},
				async : true,
				success : function(data) {
					console.log(data);
					$("title").html(data.master + "的主页-洛林博客");
					$("#head_user span").text("欢迎你，" + data.access);
					if (data.master != data.access) {
						$("#userMain").text("他的主页")
						$("#userArtical").text("他的文章");
						$("#userFollow").text("他的关注与粉丝");
						$("#userComment").remove();
						$("#userCollection").remove();
						$("#userMessage").remove();
						$("#userChange").remove();
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}

		/*左侧导航栏逻辑*/
		$(function() {

			$("#body_navi li").click(
					function() {
						$(this).siblings("li").removeClass("active");
						$(this).addClass("active");
						var consule = $.trim($(this).text());
						window.location.href = "userinfo?id=" + id
								+ "&consule=" + encodeURI(encodeURI(consule));
					});

			var consule = decodeURI($getQueryString("consule"));
			console.log(consule);
			if (consule == "个人主页" || consule == "他的主页" || consule == "null"
					|| consule == undefined) {
				$("#userMain").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userMain?id=" + id);
			} else if (consule == "我的文章" || consule == "他的文章") {
				$("#userArtical").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userArtical?id=" + id);
			} else if (consule == "关注与粉丝" || consule == "他的关注与粉丝") {
				$("#userFollow").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userFollow?id=" + id);
			} else if (consule == "我的评论") {
				$("#userComment").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userComment?id=" + id);
			} else if (consule == "我的收藏") {
				$("#userCollection").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userCollection?id=" + id);
			} else if (consule == "我的消息") {
				$("#userMessage").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userMessage?id=" + id);
			} else if (consule == "修改信息") {
				$("#userChange").parent().addClass("active");
				$("iframe").attr("src", "userInfo/userChange?id=" + id);
			}

		});
	</script>
</body>

</html>