<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--bootstrap、jquery-->
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
		<!--自定义-->
		<link rel="stylesheet" href="../css/userinfo/userMessage.css" />
		<script type="text/javascript" src="../js/pages.js"></script>
	</head>

	<body>
		<div class="container">
			<!--横向导航栏-->
			<div class="navigation">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active" value="0">
						<a href="#">收件箱</a>
					</li>
					<li role="presentation" value="1">
						<a href="#">发件箱</a>
					</li>
				</ul>
			</div>

			<!--收件箱-->
			<div class="inbox">

				<div class="col-lg-6">
					<label>排序方式：</label>
					<select class="form-control">
						<option value="01">全部</option>
						<option value="02">未读</option>
					</select>
				</div>

				<table class="table">
					<colgroup>
						<col width="2%" />
						<col width="15%" />
						<col width="45%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th><input type="checkbox" /></th>
							<th>发件人</th>
							<th>标题</th>
							<th>发送时间</th>
							<th>处理</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" value="1" /></td>
							<td>系统通知</td>
							<td>
								<a href="#"><strong>您的博客申请已批准</strong></a>
							</td>
							<td>2017-12-04 12:00:00</td>
							<td>
								<a href="#">删除</a>
							</td>
						</tr>
						<tr>
							<td><input type="checkbox" value="2" /></td>
							<td>系统通知</td>
							<td>
								<a href="#">博客园博客申请通知</a>
							</td>
							<td>2017-12-04 12:00:00</td>
							<td>
								<a href="#">删除</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="remove">
					<a href="#">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</a>
				</div>

			</div>

			<!--收件箱-->
			<div>

			</div>

			<!--分页-->
			<div id="pager_bottom">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li id="firstli">
							<a href="javascript:void(0);" onclick="">&laquo;</a>
						</li>
						<li id="lastli">
							<a href="javascript:void(0);" onclick="">&raquo;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<script type="text/javascript">
			/*自定义分页的必备参数*/
			var currentPage = 1;
			var totalPage = 30;

			/*横向导航栏的逻辑*/
			$(function() {

				$(".navigation li").on("click", function() {

					if($.trim($(this).text()) == "发件箱") {
						alert("功能暂未实现");
					} else {
						$(this).siblings("li").removeClass("active");
						$(this).addClass("active");
						var sel = $.trim($(this).text());
						if(sel == "收件箱") {
							console.log(1);
							currentPage = 1;
							totalPage = 30;
							$getPages();
						} else if(sel == "发件箱") {
							console.log(2);
							currentPage = 1;
							totalPage = 30;
							$getPages();
						}
					}
				});

			});

			/*收件箱的逻辑*/
			$(function() {

				$(".inbox select").change(function() {

					var style = $(".inbox select").val();
					if(style == "01") {
						console.log("01");
					} else if(style == "02") {
						console.log("02");
					}

				});

				$(".inbox .remove a").click(function() {

					var a = [];
					$(".inbox td input").each(function() {
						if($(this).prop("checked") == true) {
							a.push($(this).val());
						}
					});
					console.log(a);
					if(a.length == 0) {
						alert("请确认有选项删除")
					} else if(confirm("是否确认删除所选")) {

					}

				});

				var flag = true;

				$(".inbox th input").click(function() {
					if(flag) {
						$(".inbox input[type='checkbox']").prop("checked", true);
						flag = false;
					} else {
						$(".inbox input[type='checkbox']").prop("checked", false);
						flag = true;
					}
				});

				$(".inbox td input").click(function() {
					var isCheck = true;
					$(".inbox td input").each(function() {
						if($(this).prop("checked") != true) {
							isCheck = false;
						}
					});
					if(isCheck) {
						$(".inbox th input").prop("checked", true);
						flag = false;
					} else {
						$(".inbox th input").prop("checked", false);
						flag = true;
					}
				});

			});

			/*自定义分页的逻辑*/
			$(function() {

				$getPages();
				$(document).on("click", ".pagination li", function() {
					var current = $.trim($(this).text());
					if(current == "«") {
						var temp = $.trim($(".pagination li.active").prev().text());
						if(temp != "«") {
							var $a = $(".pagination li.active");
							$(".pagination li.active").removeClass("active");
							$a.prev().addClass("active");
							currentPage = parseInt($.trim($(".pagination li.active").text()));
							console.log(currentPage);
							$(".page_item").remove();
							$getPages();
						}
					} else if(current == "»") {
						var temp = $.trim($(".pagination li.active").next().text());
						if(temp != "»") {
							var $a = $(".pagination li.active");
							$(".pagination li.active").removeClass("active");
							$a.next().addClass("active");
							currentPage = parseInt($.trim($(".pagination li.active").text()));
							console.log(currentPage);
							$(".page_item").remove();
							$getPages();
						}
					} else if(current == "...") {

					} else {
						$(this).siblings("li").removeClass("active");
						$(this).addClass("active");
						currentPage = parseInt($.trim($(".pagination li.active").text()));
						console.log(currentPage);
						$(".page_item").remove();
						$getPages();
					}
				});

			});
		</script>
	</body>

</html>