<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title></title>
<!--bootstrap、jquery-->
<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
<!-- 第三方 -->
<script type="text/javascript" src="../js/jquery.tmpl.js"></script>
<!--自定义-->
<link rel="stylesheet" href="../css/userinfo/userMain.css" />
<script type="text/javascript" src="../js/pages.js"></script>
</head>

<body>
	<div class="container">

		<!--头像-->
		<div id="headpic_local">
			<img id="headpic" src="../img/noneAvatar.jpg" width="50" height="50" />
		</div>

		<!--个人资料-->
		<div id="body_user">

			<a href="" id="nickname"></a> <a href="javascript:void(0)"
				class="change">编辑个人资料</a>
			<div class="underline"></div>
			<!-- <span> 姓名：</span><span>未设置</span><br>
				<span> 性别：</span><span>未设置</span><br>
				<span> 出生日期：</span><span>未设置</span><br>
				<span> 公司/学校：</span><span>未设置</span><br>
				<span> QQ：</span><span>未设置</span><br>
				<span> 个人描述：</span><span>这个人很懒，什么都没写</span> -->

		</div>

		<!--动态-->
		<div id="body_dynamic">
			<div id="dynamic_top">
				<span>最新动态</span> <a data-toggle="modal" data-target="#myModal"
					id="writeDyc"><span class="glyphicon glyphicon-pencil">写动态</span></a>
				<div class="underline"></div>
			</div>
			<div id="dynamics">
				<!-- <div class="dynamic_content">
					<div class="content_body">
						<a href="">叶灬黎</a><span>发表博客：</span> <a href="">试试水</a><span></span><span></span><span></span></span>
						<a href="" class="delete">删除</a><span>2017-07-05 11:20</span>
					</div>
					<div class="underline"></div>
				</div>
				<div class="dynamic_content">
					<div class="content_body">
						<a href="">叶灬黎</a><span>发表动态：</span><span>叶子 今天也要加油</span><span></span><span></span><span></span></span>
						<a href="" class="delete">删除</a><span>2017-07-05 11:25</span>
					</div>
					<div class="underline"></div>
				</div> -->
			</div>
			<div id="pager_bottom">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li id="firstli"><a href="javascript:void(0);" onclick="">&laquo;</a>
						</li>
						<li id="lastli"><a href="javascript:void(0);" onclick="">&raquo;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- 写动态模态框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--主体-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">动态</h4>
					</div>
					<!-- 主体-->
					<div class="modal-body">
						<h4>请输入动态</h4>
						<textarea class="form-control" rows="5"></textarea>
					</div>
					<!--脚注 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="pub">发布</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/x-jquery-tmpl" id="t1">
				{{if truename==""}}
				<span> 姓名：</span><span>未设置</span><br>
				{{/if}}
				{{if truename!=""}}
				<span> 姓名：</span><span>${truename}</span><br>
				{{/if}}
				{{if sex==0}}
				<span> 性别：</span><span>女</span><br>
				{{/if}}
				{{if sex==1}}
				<span> 性别：</span><span>男</span><br>
				{{/if}}

				<span> 出生日期：</span><span>${dateFormat(birthday.time)}</span><br>

				{{if address==""}}
				<span> 公司/学校：</span><span>未设置</span><br>
				{{/if}}
				{{if address!=""}}
				<span> 公司/学校：</span><span>${address}</span><br>
				{{/if}}
				{{if qq==""}}
				<span> QQ：</span><span>未设置</span><br>
				{{/if}}
				{{if qq!=""}}
				<span> QQ：</span><span>${qq}</span><br>
				{{/if}}
				{{if description==""}}
				<span> 个人描述：</span><span>这个人很懒，什么都没写</span>
				{{/if}}
				{{if description!=""}}
				<span> 个人描述：</span><span>${description}</span>
				{{/if}}
	</script>

	<script type="text/x-jquery-tmpl" id="t2">
				{{if isBlog == 1}}
				<div class="dynamic_content">
					<div class="content_body">
						<a href="">${user.nickname}</a><span>发表博客：</span> <a href="">dddd</a><span></span><span></span><span></span></span>
						<a href="#" class="delete" onclick="$deleteDynamic(${id})">删除</a><span>${dateFormat(createTime.time)}</span>
					</div>
					<div class="underline"></div>
				</div>
				{{/if}}
				{{if isBlog == 0}}
				<div class="dynamic_content">
					<div class="content_body">
						<a href="">${user.nickname}</a><span>发表动态：</span><span>${content}</span><span></span><span></span><span></span></span>
						<a href="#" class="delete" onclick="$deleteDynamic(${id})">删除</a><span>${dateFormat(createTime.time)}</span>
					</div>
					<div class="underline"></div>
				</div>
				{{/if}}
	</script>

	<script type="text/javascript">
		/*自定义分页的必备参数*/
		var currentPage = 1;
		var totalPage = 1;

		/*准备工作*/
		/* $(window.parent.document).find("iframe").load(function() {
			var main = $(window.parent.document).find("iframe");
			console.log(main);
			var thisheight = $(document).height() + 350;
			main.height(thisheight);
		}); */

		var $getQueryString = function(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}

		var id = $getQueryString("id");

		/*个人信息逻辑*/
		$(function() {
			$getUserInfo(id);
		});

		var $getUserInfo = function(id) {
			$.ajax({
				type : "get",
				url : "../getAppointedUserInfo",
				dataType : "json",
				contentType : "application/json",
				data : {
					id : id
				},
				async : true,
				success : function(data) {
					console.log(data);
					if (data.isMaster == "no") {
						$(".change").remove();
						$(".delete").remove();
						$("#writeDyc").remove();
					}
					$("#t1").tmpl(data.userinfo).appendTo("#body_user");
					$("#nickname").text(data.nickname);
					if (data.userinfo.headpic != "") {
						$("#headpic").attr("src", data.userinfo.headpic);
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}

		//转换时间
		function dateFormat(time) {
			var date = new Date(time);

			var str = "";
			str += date.getFullYear() + "年";
			if (date.getMonth() + 1 < 10) {
				str += (date.getMonth() + 1) + "月";
			} else {
				str += (date.getMonth() + 1) + "月";
			}
			if (date.getDate() < 10) {
				str += date.getDate() + "日";
			} else {
				str += date.getDate() + "日";
			}
			return str;
		}

		$(".change").click(
				function() {
					window.parent.location.href = "../userinfo?id=" + id
							+ "&consule=" + encodeURI(encodeURI("修改信息"));
				});

		/*动态逻辑*/
		$(function() {

			$getPageItems(id, currentPage);
			
		});

		var $getPageItems = function(id, current) {
			console.log(1);
			$.ajax({
				type : "get",
				url : "../getDynamics",
				dataType : "json",
				contentType : "application/json",
				data : {
					id : id,
					current : current
				},
				async : true,
				success : function(data) {
					console.log(data);
					console.log(data.dynamics);
					if (data.total != 0) {
						$("#t2").tmpl(data.dynamics).appendTo("#dynamics");
					} else {
						$("#dynamics").append(
								'<div class="dynamic_content">' 
								+ '该同学并未有动态'
								+ '</div>');
					}
					totalPage = data.total;
					$getPages();
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}
		
		var $deleteDynamic = function(id){
			if(confirm("是否确认删除该条动态？")){
				$.ajax({
					type : "get",
					url : "../cutOneDynamic",
					dataType : "json",
					contentType : "application/json",
					data : {
						id : id
					},
					async : true,
					success : function(data) {
						if(data == true){
							window.location.reload();
						}else{
							alert("删除失败");
						}
					},
					error : function() {
						alert("数据获取失败");
					}
				});
			}else{
				
			}
		}

		/*写动态逻辑*/
		$(function() {
			$("#pub").click(function() {
				var content = $.trim($("textarea").val());
				if (content == "" || content == undefined) {
					alert("请输入动态内容！");
				} else {

					$writeOneDynamic(id, content);

				}
			})
		});

		var $writeOneDynamic = function(id, content) {
			$.ajax({
				type : "get",
				url : "../writeOneDynamic",
				dataType : "json",
				contentType : "application/json",
				data : {
					uid : id,
					isBlog : 0,
					content : content
				},
				async : true,
				success : function(data) {
					if (data == true) {
						$(".modal-body").empty();
						var $h4 = $("<h4>", {
							class : 'glyphicon glyphicon-ok',
							text : "发布成功"
						});
						$(".modal-body").append($h4);
						a = setTimeout(function() {
							$("#myModal").hide();
							window.location.reload();
						}, 800);
					} else {
						$(".modal-body").empty();
						var $h4 = $("<h4>", {
							class : 'glyphicon glyphicon-remove',
							text : "发布失败"
						});
						$(".modal-body").append($h4);
						a = setTimeout(function() {
							$("#myModal").hide();
							//window.location.reload();
						}, 800);
					}
				},
				error : function() {
					alert("数据获取失败");
				}
			});
		}

		/*自定义分页的逻辑*/
		$(function() {

			$getPages();
			$(document).on(
					"click",
					".pagination li",
					function() {
						var current = $.trim($(this).text());
						if (current == "«") {
							var temp = $.trim($(".pagination li.active").prev()
									.text());
							if (temp != "«") {
								var $a = $(".pagination li.active");
								$(".pagination li.active")
										.removeClass("active");
								$a.prev().addClass("active");
								currentPage = parseInt($.trim($(
										".pagination li.active").text()));
								$(".page_item").remove();
								//$getPages();
								$("#dynamics").empty();
								$getPageItems(id, currentPage);
							}
						} else if (current == "»") {
							var temp = $.trim($(".pagination li.active").next()
									.text());
							if (temp != "»") {
								var $a = $(".pagination li.active");
								$(".pagination li.active")
										.removeClass("active");
								$a.next().addClass("active");
								currentPage = parseInt($.trim($(
										".pagination li.active").text()));
								$(".page_item").remove();
								//$getPages();
								$("#dynamics").empty();
								$getPageItems(id, currentPage);
							}
						} else if (current == "...") {

						} else {
							$(this).siblings("li").removeClass("active");
							$(this).addClass("active");
							currentPage = parseInt($.trim($(
									".pagination li.active").text()));
							$(".page_item").remove();
							//$getPages();
							$("#dynamics").empty();
							$getPageItems(id, currentPage);
						}
					});

		});
	</script>
</body>

</html>